.parent-charts {
  height: 630px;
   width:100%;
    margin:auto
}
.parent-charts-day {
  height: 630px;
   width:80%;
    margin:auto
}
@media only screen and (max-width: 700px) {

.parent-charts {
    height: 620px;
    width: 100% !important ;
    
  }
.parent-charts-day {
    height: 620px;
    width:100% !important ;
  
     
  }

}
