.user-photo {
  position: relative;

}

.user-photo i {
  position: absolute;
  bottom: 5px;
  right: 0;
  font-size: 1.1em;
  background: #000;
  color: aliceblue;
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.form-update {
  background: var(--header);
  padding: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media only screen and (max-width: 700px) {
  .form-update {
    padding: 10px;
  }
}