.img-1-forget {
    width: 52.724px;
    height: 42.665px;
    transform-reset: rotate(0.394deg);
    margin-top: 20px;
    cursor: pointer;
}

.text-forget-pass {
    color: var(--text);
    letter-spacing: 1px;

}

.label-forget {
    color: #BA68C8;
    font-family: "Protest Riot", sans-serif !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;

}

.input-forget {
    border-radius: 40px;
    /* background: #A09A9A; */
    background: rgba(217, 217, 217, 0.38);
    border: none;
    padding: 10px;
    width: 80%;
}

.btn-forget {
    color: var(--body);
    padding: 10px 0;
    width: 30%;
    border: none;
    margin-top: 15px;
    border-radius: 50px;
    background: #e6126a;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.35);
}

.new-password,
.confirm-password {
    position: absolute;
    right: 145px;
    cursor: pointer;
}

.new-password {
    bottom: 175px;
}

.confirm-password {
    bottom: 75px;

}

.sub-title-forget {
    font-size: 2em;
}



@media only screen and (max-width: 770px) {
    .img-2-forget {
        display: none;
    }

    .input-forget {

        width: 100%;
    }

    .img-result {
        width: 80% !important;
    }

    .new-password,
    .confirm-password {
        right: 20px;

    }

    .bt-forget {
        width: 100% !important;
        margin-top: 15px;
    }

    .btn-forget {
        width: 100%;
    }
}



/* resetPassword */

.resetPassword {
    font-family: "Protest Riot", sans-serif !important;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-reset {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.label-forget {
    display: block;
    margin-bottom: 10px;
}

.input-reset {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.btn-reset {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn-reset:hover {
    background-color: #45a049;
}

.media-mobile {
    display: none;
}

.forget-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

@media only screen and (min-width: 750px) {
    .form-reset {
        width: 400px;
    }

    .media-mobile {
        display: flex !important;
    }

    .media-desktop {
        display: none;
    }




}