.img-1-forget {
    width: 52.724px;
    height: 42.665px;
    transform: rotate(0.394deg);
    margin-top: 20px;
    cursor: pointer;
}

.text-forget-pass {
    color: var(--text);
}

.label-forget {
    color: #BA68C8;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;

}

.input-forget {
    border-radius: 40px;
    /* background: #A09A9A; */
    background: rgba(217, 217, 217, 0.38);
    border: none;
    padding: 10px;
    width: 80%;
}

.btn-forget {
    color: var(--body);
    padding: 10px 0;
    width: 30%;
    border: none;
    margin-top: 15px;
    border-radius: 50px;
    background: #BA68C8;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.35);
}

.new-password,
.confirm-password {
    position: absolute;
    right: 130px;
    cursor: pointer;
}

.new-password {
    top: 47px;
}

.confirm-password {
    bottom: 75px;

}





@media only screen and (max-width: 770px) {
    .img-2-forget {
        display: none;
    }

    .input-forget {

        width: 100%;
    }
    .img-result{
        width: 80% !important;
    }
        .new-password,
        .confirm-password {
            right: 30px;
           
        }
}