* {

  a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


}

body {
  background-color: var(--body) !important;

}

:root {
  --body: #EEE;
  --text: black;
  --secondary: black;
  --title: black;
  --subTitle: rgb(161 161 170);
  --header: #ffffff96;
  --textHeader: black;
  --alert: #EEE
}

.dark {
  --body: black;
  --text: #EEE;
  /* --text:#F3D2F2; */
  --textHeader: #fff6f6;
  --primary: red;
  --secondary: black;
  --title: ;
  --subTitle: rgb(161 161 170);
  --header: rgba(44, 42, 42, 0.687);
  --alert: rgba(44, 42, 42, 1)
}



/* scroll */
/* Scroll bar */
::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #777;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* for Firefox */
html {
  scrollbar-color: #777 #3d4a59;
}

html {
  scroll-behavior: smooth;
}

.fontfamily {
  font-family: "Protest Riot", sans-serif !important;
}

/* Alert */
.swal2-popup {
  background-color: var(--alert);
  opacity: 5 !important;
  z-index: 100000 !important;

}

.swal2-title,
.swal2-confirm.swal2-styled,
.swal2-cancel.swal2-styled {
  font-family: "Protest Riot", sans-serif !important;
  color: var(--text);
}

/* sideBar M Ui */
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  z-index: 5 !important;
}