@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,600;1,300;1,900&family=La+Belle+Aurore&family=Leckerli+One&family=Scheherazade+New:wght@400;700&display=swap');

/* login */
.text-login {
    color: var(--text);
}



.login {
    color: black;
    font-family: "Protest Riot", sans-serif !important;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 110%;

}

/* ::placeholder {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.635) !important;
} */
.input-signup,
.male {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.536) !important;
}

.input {
    flex-direction: column;
}

.email,
.password {
    width: 90%;
    border: none;
    margin: auto;
    height: 67px;
    text-indent: 25px;
    background: #A09A9A;
}

.email {
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
}

.password {
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
}

.icon-password {
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.ForgetPassword {
    cursor: pointer;
}

.btn-login {
    color: #FFF;
    text-align: center;
    font-family: "Protest Riot", sans-serif !important;
    border: none;
    font-size: 20px;
    width: 150px;
    padding: 10px;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #dc0b62;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.35);
}

.line {
    width: 30%;
    height: 1px;
    background: var(--text);
}

.logo-login {
    width: 50px;
}

.password-login {
    cursor: pointer;
    position: absolute;
    top: 110px;
    right: 60px;

}

.row-login {
    height: 100vh;
    align-items: center;
}

@media only screen and (max-width: 769px) {
    .password-login {
        right: 35px;

    }

    .row-login {
        height: fit-content;
    }

    .row-login {
        flex-direction: column-reverse !important;

    }

    .or {
        margin-left: 5px !important;
    }

    .login {
        font-size: 30px;
    }

    .ForgetPassword {
        font-size: 1.2em !important;
    }

    .img-login {
        width: 50% !important;


    }

    .img-parent {
        text-align: center;
    }

    .input-signup,
    .male {
        font-size: 1.2em;
        color: rgba(0, 0, 0, 0.536) !important;
    }
}

/* Register */
.register {
    height: 100vh;


}

.text-signUp {
    font-family: "Protest Riot", sans-serif !important;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 10px;
}

.logo2 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}

.logo3 {
    width: 40px;
}

.firstName {
    border-radius: 20px;
    width: 47%;
}

.lastName {
    border-radius: 20px;
    width: 47%;
}

.input-signup {
    border-radius: 20px;
    background: rgb(217, 217, 217);
    border: none;
    padding: 8px;
    width: 100%;


}

.firstName,
.lastName {
    border: none;
    margin: auto;
    padding: 10px;
    text-indent: 25px;
    background: rgb(217, 217, 217);
}

.text-signup {
    color: var(--text);
}

.btn-signUp {
    background: #dc0b62 !important;
    margin: 10px 0;
}

.curser-pointer {
    cursor: pointer;
}

@media only screen and (max-width: 769px) {
    .logo-signup {
        display: none;
    }

    .text-signUp {
        font-size: 20px;
        text-align: center;
    }

    .register {
        margin-top: 10px;
        height: fit-content;
        padding-top: 10px;

    }
}