.textarea{
    width: 50%;
    min-height: 300px;
    border-radius: 50px;
        border: 6px solid #D05F8E;
        background: rgba(252, 235, 252, 0.83);
        caret-color: #D05F8E;
            text-indent: 30px;
}
.textarea:focus{
    outline: none;
}
.lottie{
    color: var(--text);
    font-size: 1.5em;
}
@media only screen and (max-width: 600px) {
.textarea {
        width: 95%;
        min-height: 200px;
       
    }
        .lottie {
            
            font-size: 1em;
        }

}