.tex2{
  font-size:50px;

}
.card-text,.card-title,.tex2{
    font-family: "Protest Riot", sans-serif !important;
}
@media only screen and (max-width: 600px) {
  .aboutUS {
  width: 125px !important;
  }
    .tex2 {
      font-size: 25px;
    }
}