.tex2 {
  font-size: 50px;

}

.card-text,
.card-title,
.tex2 {
  font-family: "Protest Riot", sans-serif !important;
}

.about-container {
  background: var(--header);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 6px;
}

.card-img-top {
  border: 3px solid #D05F8E;

}

.img-aboutUs {
  width: 20%;
}

.card-text {
  font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
  .aboutUS {
    width: 110px !important;
  }

  .img-aboutUs {
    width: 50%;
  }

  .card-title {
    font-size: 1em;
  }

  .card-text {
    font-size: 0.7em;
  }

  .tex2 {
    font-size: 25px;
  }
}